[role="switch"] {
  @apply relative border-transparent border-2 border-solid w-auto p-2;
  border-radius: 5px;
  user-select: none;
}

[role="switch"] .switch {
  @apply border-gray-600 border-2 border-solid rounded-full cursor-pointer;
  position: relative;
  display: inline-block;
  top: 6px;
  height: 20px;
  width: 40px;
}

[role="switch"] .switch span {
  @apply bg-gray-600 border-gray-600 cursor-pointer;
  position: absolute;
  top: -1px;
  right: calc(100% - 18px);
  display: inline-block;
  border-radius: 8px;
  height: 18px;
  width: 18px;
  transition: all ease-out 300ms;
}

[role="switch"][aria-checked="true"] .switch {
  @apply border-success;
}

[role="switch"][aria-checked="true"] .switch span {
  @apply bg-success border-success;
  left: initial;
  right: 0;
}

[role="switch"]:focus,
[role="switch"]:hover {
  @apply border-gray-200 bg-gray-100;
  outline: none;
  cursor: pointer;
}

[role="switch"]:focus span.switch {
  background-color: white;
}

[role="switch"][aria-disabled="true"] .switch {
  @apply border-gray-600/50 opacity-50;
}

[role="switch"][aria-checked="true"][aria-disabled="true"] .switch {
  @apply border-success/50 opacity-50;
}

[role="switch"][aria-disabled="true"] .switch span {
  @apply opacity-50;
}